<div class="grid">
  <div class="grid-col grid-col-sm_6of6 mix-grid-col-md_push1of6 grid-col-md_5of6">
    <div class="wrapper">
      <h2 class="hdg hdg_2">Create a new account</h2>

      <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <%= devise_error_messages! %>

        <ul class="vlist">
          <li>
            <%= f.label :first_name, :class => 'input-label' %>
            <br />
            <%= f.text_field :first_name, :class => 'input input-sm', autofocus: true %>
          </li>
          <li>
            <%= f.label :last_name, :class => 'input-label' %>
            <br />
            <%= f.text_field :last_name, :class => 'input input-sm' %>
          </li>
          <li>
            <%= f.label :birthday, :class => 'input-label' %>
            <br />
            <%= f.text_field :birthday, :class => 'input input-sm', :data => {:controller => 'js-fieldMask'} %>
          </li>
          <li>
            <%= f.label :email, :class => 'input-label' %>
            <br />
            <%= f.email_field :email, :class => 'input input-sm' %>
          </li>
          <li>
            <%= f.label :password, :class => 'input-label' %>
            <% if @validatable %>
              <em>(<%= @minimum_password_length %> characters minimum)</em>
            <% end %><br />
            <%= f.password_field :password, :class => 'input input-sm', autocomplete: "off" %>
          </li>
          <li>
            <%= f.label :password_confirmation, :class => 'input-label' %><br />
            <%= f.password_field :password_confirmation, :class => 'input input-sm', autocomplete: "off" %>
          </li>
          <li>
            <%= f.submit "Sign up", :class => 'btn' %>
          </li>
        </ul>

      <% end %>

      <%= render "devise/shared/links" %>
    </div>
  </div>
</div>
