<li>
  <% if post.seen_by_all? %>
    <div class="excerpt">
  <% else %>
    <div class="excerpt mix-excerpt_isUnreadByAll">
  <% end %>

      <div class="excerpt-hd">
          <h2 class="hdg hdg_3"><%= link_to post.title, post %></h2>
          <div class="txt txt-sm mix-txt_italic">
              <ul class="hlist">
                  <li>
                      <%= time_ago_in_words(post.created_at) %> ago
                  </li>
                  <li>
                      <%= post.user.name %>
                  </li>

                  <% if post.seen_by_all? %>
                      <li>
                          <span class="">READ</span>
                      </li>
                  <% end %>

              </ul>
          </div>
      </div>
      <div class="excerpt-bd">

          <% if post.photo.exists? %>
              <div>
                  <%= image_tag post.photo.url(:thumb) %>
              </div>
          <% end %>

          <%= simple_format(post.body, wrapper_tag: 'div') %>
      </div>
      <div class="excerpt-ft">
          <% if correct_user?(post.user) %>
              <%= link_to "Edit Post", edit_post_path(post.id), :class => 'btn btn-sm' %>
          <% end %>
      </div>
  </div>
</li>
