<h2 class="hdg hdg_2">Edit Post</h2>
<%= form_for(@post) do |f| %>
    <ul>
        <li>
            <%= f.label :title, :class => 'input-label' %>
            <%= f.text_field :title, :class => 'input' %>
        </li>
        <li>
            <%= f.label :body, :class => 'input-label' %>
            <%= f.text_area :body, :class => 'input-textarea' %>
        </li>
        <li>
            <%= f.submit "Add New Post", :class => 'btn btn-sm' %>
        </li>
    </ul>
<% end %>