<div>
    <%= link_to 'Back to Gallery', gallery_path %>
</div>

<h2 class="hdg hdg_2"><%= @image.name %></h2>
<div>
    <div>
      <%= image_tag(@image.attachment.url(:original)) %>
    </div>
    <div>
      <%= @image.user.name %>
    </div>
    <div>
      <%= @image.description %>
    </div>
</div>
